<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.repository.UserMapper">
  <resultMap id="BaseResultMap" type="com.example.Model.UserTest">
    <constructor>
      <idArg column="id" javaType="_long" jdbcType="BIGINT" />
      <arg column="nickname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="mobile" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="password" javaType="java.lang.String" jdbcType="CHAR" />
      <arg column="role" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List">
    id, nickname, mobile, password, role
  </sql>
  <select id="selectByPrimaryKey" parameterType="_long" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from usertest
    where id = #{id,jdbcType=BIGINT}
  </select>

  <select id="selectUser" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from usertest
  </select>

  <select id="loadUserByUsername" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from usertest
    where mobile = #{mobile}
  </select>

  <insert id="register" parameterType="usertest">
    insert into usertest ( nickname,mobile, password) values (#{nickname},#{mobile},#{password})    
   </insert>

   <update id="setNickname" parameterType="usertest">
    update  usertest set nickname = #{nickname} where  id = #{id,jdbcType=BIGINT}  
   </update>
   
</mapper>